<!DOCTYPE html>
<html ng-app="store">
<head>
	<link rel="shortcut icon" type="image/png" href="../../Images/favicon.ico" />
	<title>Tabs Inside Out - - Shaping Up With Angular JS</title>
	<link rel="stylesheet" type="text/css" href="../../Stylesheets/Bootstrap/bootstrap.min.css">
</head>
<body>
	<div ng-controller="StoreController as store" class="container">
		<br />
		<!-- Products Container -->
		<div class="list-group" ng-repeat="product in store.products | orderBy:'price'">
			<!-- Product Container -->
			<div class="list-group-item" ng-hide="product.soldOut">
				<h1> {{product.name | uppercase }} </h1>
				<section ng-show="product.images.length">
					<img class="pull-right" ng-src="{{ product.images[0].full }}" style="height:50px;width:50px" />
				</section>
				<h2> {{product.price | currency}} </h2>
				<section ng-init="tab = 1">
					<ul class="nav nav-pills">
						<li ng-class="{ active:tab === 1 }">
							<a href="" ng-click="tab = 1">Description</a>
						</li>
						<li ng-class="{ active:tab === 2 }">
							<a href="" ng-click="tab = 2">Specifications</a>
						</li>
						<li ng-class="{ active:tab === 3 }">
							<a href="" ng-click="tab = 3">Reviews</a>
						</li>
					</ul>
					<div class="panel" ng-show="tab === 1">
						<h4>Description</h4>
						<blockquote>{{product.description}}</blockquote>
					</div>
					<div class="panel" ng-show="tab === 2">
						<h4>Specifications</h4>
						<blockquote>None yet</blockquote>
					</div>
					<div class="panel" ng-show="tab === 3">
						<h4>Reviews</h4>
						<blockquote>None yet</blockquote>
					</div>
				</section>
				<button ng-show="product.canPurchase" class="btn btn-success">Add to Cart</button>
				<button ng-show="!product.canPurchase" class="btn btn-danger disabled">Add to Cart</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../Scripts/Angular/angular.min.js"></script>
	<script type="text/javascript" src="../../Scripts/Custom/Level2/app1.js"></script>
</body>
</html>